
:root{
    --primary-color: #cffafe ;
    --secondary-color: #0891b2;
} 

.logo{
    display: block;
    margin: auto;
    width: 150px;
    height: 90px;
}
body{
    background-image: linear-gradient(var(--primary-color),var(--secondary-color));
}
.container{
    max-width: 955px;
    background-color: red;
    margin: auto;
    height: 60vh;
}

.message{
background-color: var(--primary-color);
width: 24%;
padding: 10px;
margin: 17px 3px;
border:2px solid black ;
border-radius: 20px;
}

.left{
float: left;
clear: both;
}
.right{
float: right;
clear: both;
}

